In [ ]:
import pandas as pd

s=pd.Series()

print(s)

Series([], dtype: object)

In [ ]:
# creating series using list
import pandas as pd

a=(10,20,30,40,50,60,70,80,90)
print(type(a),a)
ser=pd.Series(a)

print(ser)

<class 'tuple'> (10, 20, 30, 40, 50, 60, 70, 80, 90)
0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [ ]:
import pandas as pd

x = set([10, 20, 30, 40])
series = pd.Series(x)

print(series)

TypeError: 'set' type is unordered

In [ ]:
# series using set  is not possible
import pandas as pd

data = {10, 20, 30}
index = ['a', 'b', 'c']

# This will raise a TypeError:
pd.Series(data, index=index)

TypeError: 'set' type is unordered

In [ ]:
import pandas as pd

s = [10, 20, 30
pd.Series(s, index=['a', 'b', 'c'])

a    10
b    20
c    30
dtype: int64

In [ ]:
# series using tupple is possible
import pandas as pd

s = (10, 20, 30)
z=pd.Series(s)
print(z)

0    10
1    20
2    30
dtype: int64

In [ ]:
# series using index is possible
import pandas as pd

a= {1:"dnyaneshwar", 2:"vivek", 3:"kishori",4:"Madhuri"}

s=pd.Series(a)

print(s)

1    dnyaneshwar
2          vivek
3        kishori
4        Madhuri
dtype: object

In [ ]:
# we can assign name to series using name keyword argument

import pandas as pd

a=[10,20,30,45,60,70,80,90,100]

s = pd.Series(a,name="sales")

print(s)

0     10
1     20
2     30
3     45
4     60
5     70
6     80
7     90
8    100
Name: sales, dtype: int64

In [ ]:
import pandas as pd

a=["Dnyaneshwar","Vivek","madhuri","kishori"]

name = pd.Series(a,name="family members names")
print(name)

0    Dnyaneshwar
1          Vivek
2        madhuri
3        kishori
Name: family members names, dtype: object

In [ ]:
# creating customized index in series
import pandas as pd

id = [102,102,103,104]
name=["Dnyaneshwar","Vivek","madhuri","kishori"]
age = [30,28,27,26]

dataser = pd.Series(name,name="person name",index=id)
dataser2= pd.Series(age,name="person age",index=id)
print(dataser,dataser2)

102    Dnyaneshwar
102          Vivek
103        madhuri
104        kishori
Name: person name, dtype: object 102    30
102    28
103    27
104    26
Name: person age, dtype: int64

In [ ]:
# calling series using index
id = [101,102,103,104]
name=["Dnyaneshwar","Vivek","madhuri","kishori"]
age = [30,28,27,26]

dataser = pd.Series(name,name="person name",index=id)
dataser2= pd.Series(age,name="person age",index=id)

print(dataser[101])

Dnyaneshwar

In [ ]:
# calling series using slicing

import pandas as pd

a = range(0,101)

s=pd.Series(a)

print(s[0:11])

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [ ]:
#datatye for mixed data series is object

import pandas as pd

a=[1,11.1,"one",True]

s=pd.Series(a)

print(s)

0       1
1    11.1
2     one
3    True
dtype: object

In [ ]:
# data tye for nan value include series is float64
import pandas as pd

a=[1,2,3,None]

s=pd.Series(a)

print(s)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

**Attributes in series class**

attributes give information about class

In [ ]:
# values - it will display/ gives all values present in series

import pandas as pd

a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]

s=pd.Series(a)

print(s.values)

#display result in array

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29]

In [ ]:
# index - display /show index

import pandas as pd

a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]

s=pd.Series(a)

print(s.index)

# defaul index show in form of range

# custom index show in result

name=["dnyanesh","madhuri","vivek","kishori"]
age =[30,27,28,26]
n=pd.Series(age,index=name)
print(n)
print(n.index)

RangeIndex(start=0, stop=29, step=1)
dnyanesh    30
madhuri     27
vivek       28
kishori     26
dtype: int64
Index(['dnyanesh', 'madhuri', 'vivek', 'kishori'], dtype='object')

In [ ]:
#size - show how many values are in series

import pandas as pd

a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]

s=pd.Series(a)

print(s.size)

29

In [ ]:
# dtype - show data type of series
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]

s=pd.Series(a)

print(s.dtype)

int64

**methods in series Class**

In [ ]:
# head - show top values default 5 (according to index)

import pandas as pd

a=[12,54,52465,648974951,48946541,987465461,87465165,874651,98741312,87465132,87645123,784,312,654,9874,321,6541,6541321,6516,65162,654,326,842,1854,21,64,62,651,1,6512]

s=pd.Series(a)

print(s)
print(s.head())

0            12
1            54
2         52465
3     648974951
4      48946541
5     987465461
6      87465165
7        874651
8      98741312
9      87465132
10     87645123
11          784
12          312
13          654
14         9874
15          321
16         6541
17      6541321
18         6516
19        65162
20          654
21          326
22          842
23         1854
24           21
25           64
26           62
27          651
28            1
29         6512
dtype: int64
0           12
1           54
2        52465
3    648974951
4     48946541
dtype: int64

In [ ]:

import pandas as pd

a=[12,54,52465,648974951,48946541,987465461,87465165,874651,98741312,87465132,87645123,784,312,654,9874,321,6541,6541321,6516,65162,654,326,842,1854,21,64,62,651,1,6512]

s=pd.Series(a)

print(s)
print(s.tail())

0            12
1            54
2         52465
3     648974951
4      48946541
5     987465461
6      87465165
7        874651
8      98741312
9      87465132
10     87645123
11          784
12          312
13          654
14         9874
15          321
16         6541
17      6541321
18         6516
19        65162
20          654
21          326
22          842
23         1854
24           21
25           64
26           62
27          651
28            1
29         6512
dtype: int64
25      64
26      62
27     651
28       1
29    6512
dtype: int64

In [ ]:

import pandas as pd

a=[12,54,52465,648974951,48946541,987465461,87465165,874651,98741312,87465132,87645123,784,312,654,9874,321,6541,6541321,6516,65162,654,326,842,1854,21,64,62,651,1,6512]

s=pd.Series(a)

print(s.head(10))
print(s.tail(10))

0           12
1           54
2        52465
3    648974951
4     48946541
5    987465461
6     87465165
7       874651
8     98741312
9     87465132
dtype: int64
20     654
21     326
22     842
23    1854
24      21
25      64
26      62
27     651
28       1
29    6512
dtype: int64

In [ ]:
#sum - its sum all values presented in series


import pandas as pd

a=[12,54,52465,648974951,48946541,987465461,87465165,874651,98741312,87465132,87645123,784,312,654,9874,321,6541,6541321,6516,65162,654,326,842,1854,21,64,62,651,1,6512]

s=pd.Series(a)

print(s.sum())

2054273339

In [5]:
# count - its count all non blank values

import pandas as pd

a=[1,2,1,4,5,6,3,2,4,5,8,7,9,5,4,5,4,5,4,5,4,5,1,2,12,54,4,1,54,21,51,1,54,1,1231,31,231,21,32,321,1,2,]

s=pd.Series(a)
b=
#print(s)
print(s.count())

42

In [8]:
# mean - give ean value or average

import pandas as pd

a=[1,21,2,1,5,1,13,132,132,132,23,123,132,132,13,121,21,23,1321,23,123,123,123,2,1]

s=pd.Series(a)

print(s.mean()
)

109.76

In [9]:
#describe - math related give 8 results
import pandas as pd

a=[1,21,2,1,5,1,13,132,132,132,23,123,132,132,13,121,21,23,1321,23,123,123,123,2,1]

s=pd.Series(a)

print(s.describe())

count      25.000000
mean      109.760000
std       258.922492
min         1.000000
25%         5.000000
50%        23.000000
75%       123.000000
max      1321.000000
dtype: float64

In [10]:
#uniques- gives list of unique values
import pandas as pd

a=[1,21,2,1,5,1,13,132,132,132,23,123,132,132,13,121,21,23,1321,23,123,123,123,2,1]

s=pd.Series(a)
print(s.unique())

[   1   21    2    5   13  132   23  123  121 1321]

In [11]:
#nuniques- gives nuber of unique values present (distinct count)
import pandas as pd

a=[1,21,2,1,5,1,13,132,132,132,23,123,132,132,13,121,21,23,1321,23,123,123,123,2,1]

s=pd.Series(a)
print(s.nunique())

10