In [6]:
#-----------------------------------------Tuple------------------------------------

In [16]:
# tuple denote as open bracket ()
T = (1,2,3,4,5,6,7,8,9)
T

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [18]:
# We can assign multiple datatypes in tupple
T1 = (1,20,"Dnyaneshwar",True)
T1

(1, 20, 'Dnyaneshwar', True)

In [32]:
# dupplicates allowed in tupple
T2 =(1,1,1,2,2,2,3,3,3)
T2

(1, 1, 1, 2, 2, 2, 3, 3, 3)

In [34]:
# Tupple is Immutable [Object cannot change]
T2[1]=10
T2

TypeError: 'tuple' object does not support item assignment

In [36]:
# if tuple include any list in it that list is mutable
T3 = (10,20,30,40,["Dnyaneshwar","Argade"])
T3

(10, 20, 30, 40, ['Dnyaneshwar', 'Argade'])

In [44]:
T3[4][0] ="Dnya"     # 4 denote index in tule and 0 for indexing in that list
T3

(10, 20, 30, 40, ['Dnya', 'Argade'])

In [58]:
# indexing allowed in tuple 
T3[3]

40

In [63]:
# slicing allowed in tupple
T3[1:4]

(20, 30, 40)

In [65]:
# We not add vaule in tupple append not work
T3.append = "RAJE"

AttributeError: 'tuple' object has no attribute 'append'

In [69]:
# insert not work in tupple 
T3.insert(2,100)

AttributeError: 'tuple' object has no attribute 'insert'

In [71]:
T3.append = ["RAJE","Shivaji"]

AttributeError: 'tuple' object has no attribute 'append'

In [83]:
# You can concatenate two or more tuples, using the + operator.
T4 = (100,200,300)
T5 = (400,500,600)
T4+T5

(100, 200, 300, 400, 500, 600)

In [85]:
# we can repeat tupple using *
T4*2

(100, 200, 300, 100, 200, 300)

In [91]:
T4*5

(100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300)

In [93]:
#REMOVE NOT ALLOWED IN TUPPLE
T4.REMOVE(200)

AttributeError: 'tuple' object has no attribute 'REMOVE'

In [103]:
# WE CAN UNPACK TUPLE ITEM AS VERIABLE 
T5 =(10,20,30)
A,B,C=T5
A

10

In [113]:
# WE CAN USE in and not in operators to check if an element exists within a tuple.
200 in  T5

False

In [115]:
200 not in  T5

True

In [117]:
# count,len,index function work in tuple
len(T5)

3

In [119]:
T5.count(20)

1

In [121]:
T5.index(20)

1

In [129]:
# When creating a tuple with only one element, you need to add a trailing comma, otherwise it will be interpreted as a normal variable.
T6=(1,)
type(T6)

tuple

In [ ]:
#     Why Use Tuples?:
#    Immutability: This makes tuples useful when you need a fixed collection of elements that should not be altered.
#    Faster than Lists: Tuples, being immutable, are faster in comparison to lists, particularly when iterating over large collections of data.
#    Can be used as Dictionary Keys: Because tuples are hashable (due to their immutability), they can be used as keys in dictionaries, unlike lists.

1. Mutability:
Tuple: Immutable, meaning you cannot change, add, or remove elements once the tuple is created.
List: Mutable, allowing you to change, add, or remove elements after creation.
2. Syntax:
Tuple: Defined using parentheses ().
List: Defined using square brackets [].
3. Use Cases:
Tuple: Used for data that should remain constant or fixed, such as coordinates, days of the week, or configuration settings.
List: Used for collections of data that may change over time, such as dynamic lists of items, data that needs to be modified, or datasets that can grow or shrink.
4. Performance:
Tuple: Faster in performance due to immutability. It uses less memory because no extra space is needed for modifications.
List: Slightly slower compared to tuples because they need to handle changes dynamically, which requires more memory.
5. Memory Usage:
Tuple: Requires less memory due to its fixed nature.
List: Requires more memory to accommodate modifications like adding or removing elements.
6. Methods and Functions:
Tuple: Has fewer methods due to its immutability. Key methods include checking occurrences (count) and finding the index of an element (index).
List: Has more methods for modification, including adding (append, insert), removing (remove, pop), and sorting elements (sort, reverse).
7. Hashability:
Tuple: Can be used as a key in dictionaries because it is hashable (i.e., immutable).
List: Cannot be used as a dictionary key because it is mutable and, thus, not hashable.
8. Typical Usage:
Tuple: Suitable for storing fixed, unchangeable data like dates, coordinates, or constants.
List: Ideal for managing dynamic data that is expected to change frequently, like a to-do list or a collection of user inputs.
9. Packing and Unpacking:
Tuple: Commonly used for packing and unpacking multiple values because it is fixed and reliable.
List: Can also be used for packing and unpacking, but it's less common than tuples for this purpose.
Summary:
Tuples are used when data should remain constant and cannot be modified.
Lists are used when you need a flexible, dynamic collection that may change over time.

In [ ]:
#------------------------------- Range --------------------------------

In [ ]:
# the range() function generates a sequence of numbers and is commonly used for looping a specific number of times in for loops.

In [188]:
# The range() function can take one to three arguments: (start,stop,steps)
for r in range(1, 10 , 1):    #range() is a built-in function to generate a sequence of numbers.
    print(r)

1
2
3
4
5
6
7
8
9

In [167]:
for r in range(1, 100 , 10):
    print(r)

1
11
21
31
41
51
61
71
81
91

In [169]:
for r in range(1, 20 , 3):
    print(r)

1
4
7
10
13
16
19

In [175]:
for r in range(10):
    print(r)

0
1
2
3
4
5
6
7
8
9

In [177]:
for r in range():
    print(r)

TypeError: range expected at least 1 argument, got 0

In [183]:
for r in range("a","z"):   #you cannot directly define a range for characters like a to z using the range()
    print(r)

TypeError: 'str' object cannot be interpreted as an integer

In [186]:
for r in range("a","z"):   #you cannot directly define a range for characters like a to z using the range()
    print(r)

TypeError: 'str' object cannot be interpreted as an integer

range charastiristics
Immutable: The sequence generated by range() is immutable, meaning it cannot be modified.
Lazy Evaluation: range() doesnâ€™t generate the numbers all at once but creates them one by one as needed. This makes it memory efficient, especially for large ranges.
Exclusive End: The stop value is not included in the range. The sequence always stops at stop - 1.

In [ ]:
#--------------------------set--------------------------------------

In [227]:
#   In Python, a set is an unordered collection of unique elements. 
#   It is useful when you need to store distinct items and eliminate duplicates. Sets are defined using curly braces {} or the set() function.

In [239]:
#  Creating set
# 1 Set denote as curly brasis {}
S = {1,2,3,4}
# 2 using set function 
S5 = set([1,2,3,4,5,6])

In [241]:
S

{1, 2, 3, 4}

In [243]:
S5

{1, 2, 3, 4, 5, 6}

In [196]:
# duplicate are not allowed in set
S2 = {1,1,1,2,3,4}
S2

{1, 2, 3, 4}

In [198]:
# index not allowed in set
S2[2]

TypeError: 'set' object is not subscriptable

In [200]:
#slicing not allowed in set
S2[0:4]

TypeError: 'set' object is not subscriptable

In [202]:
# append not allowed in set
S2.append(7)

AttributeError: 'set' object has no attribute 'append'

In [206]:
# set in Immutable add append not allowed

In [210]:
# remove allowed in set 
S2.remove(1)

In [212]:
S2

{2, 3, 4}

In [ ]:
# but if you create frozenset Remove also not allowed

In [214]:
S_frooz = frozenset(S2)

In [220]:
S_frooz.remove(2)

AttributeError: 'frozenset' object has no attribute 'remove'

In [223]:
# type of frozenset is frozenset 
type(S_frooz)

frozenset

In [ ]:
-

In [247]:
# Use add() to add a single element to the set.
S2.add(10)
S2

{3, 4, 10}

In [ ]:
# Use remove() or discard() to remove an element. The difference is that remove() raises an error if the element is not found, while discard() does not.

In [249]:
S2.remove(10)
S2

{3, 4}

In [251]:
S2.remove(10)
S2

KeyError: 10

In [255]:
S2.discard(10)
S2

{3, 4}

In [ ]:
# Union: Combines two  sets.( give unique values  linke union in sql)

In [257]:
s6 = {1,2,3,4,5,6}
s7 ={1,2,3,4,5,6,7,8,9}

In [259]:
S6_7 = s6.union(s7)
S6_7

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Intersection: Returns elements that are present in both sets.

In [265]:
S6_7 = s6.intersection(s7)

In [ ]:
#    Use the in keyword to check if an element exists in the set.

In [267]:
2 in S6_7

True

In [269]:
#------------------------------ Dictionary --------------------------------------

In [ ]:
# In Python, a dictionary is an unordered collection of items stored as key-value pairs.
# It allows you to store data in a way that enables quick lookups and is very useful for organizing complex data structures.

Unordered: The items stored in a dictionary do not have a defined order.
Mutable: You can change the contents of a dictionary (add, remove, or modify items).
Key-Value Pairs: Each item consists of a key and its corresponding value. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any data type.
Dynamic Size: Dictionaries can grow and shrink as you add or remove items.

In [273]:
# create dictionaru - use curly brackets{}
Dict = { 1:"Apple",
         2:"orange",
        3:"BANANA"}

In [275]:
Dict

{1: 'Apple', 2: 'orange', 3: 'BANANA'}

In [279]:
# with curly bracket u can create emplty dictionary
d ={}
type(d)

dict

In [281]:
# to create empty set you need to use set () functoin

In [289]:
d2= set()
d2

set()

In [291]:
type(d2)

set

In [301]:
# To add value in dictionary you need to add key and values
Dict[4]="pineaoole"
Dict

{1: 'Apple', 2: 'orange', 3: 'BANANA', 4: 'pineaoole'}

In [312]:
# remove akkowed in dict.
del Dict[4]

In [314]:
Dict

{1: 'Apple', 2: 'orange', 3: 'BANANA'}

In [318]:
# Use pop() to remove an item and return its value.  its remove value and show which value is removed
Dict.pop(3)

'BANANA'

In [320]:
Dict

{1: 'Apple', 2: 'orange'}

In [374]:
if "Apple" in Dict:
    print(key)

In [376]:
Dict

{1: 'Apple', 2: 'orange'}

Dictionaries are powerful data structures for storing and organizing data in key-value pairs.
They are mutable and allow for dynamic resizing.
The unique keys enable quick lookups, making dictionaries a great choice for many programming tasks where association between a unique key and a value is needed.